
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
{extend name="public:public"}
<head>
{block name="head"}
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 <title>DouPHP 管理中心</title>
 <meta name="Copyright" content="Douco Design." />
 <link href="/static/admin/index/css/public.css" rel="stylesheet" type="text/css">
 <script type="text/javascript" src="/static/admin/index/js/jquery.min.js"></script>
 <script type="text/javascript" src="/static/admin/index/js/global.js"></script>
 {/block}
</head>
<body>
{block name="div"}<div id="dcWrap"> <div id="dcHead">{/block}
<!-- dcHead 结束 -->
 {block name="main"}
 <div id="dcMain"> <!-- 当前位置 -->
  <div id="urHere">DouPHP 管理中心</div>  <div id="index" class="mainBox" style="padding-top:18px;height:auto!important;height:550px;min-height:550px;">
   <div class="warning">您还没有删除 install 文件夹，出于安全的考虑，我们建议您删除 install 文件夹。</div>

   <div id="douApi"></div>
   <div class="indexBox">
    <div class="boxTitle">单页面快速管理</div>
    <ul class="ipage">

     <a href="page.php?rec=edit&id=1">公司简介</a>

     <a href="page.php?rec=edit&id=2" class="child1">企业荣誉</a>

     <a href="page.php?rec=edit&id=3" class="child1">发展历程</a>

     <a href="page.php?rec=edit&id=4" class="child1">联系我们</a>

     <a href="{:url('Index/add_admin')}">管理员添加</a>

     <a href="page.php?rec=edit&id=5">添加管理员角色</a>
     <div class="clear"></div>
    </ul>
   </div>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="indexBoxTwo">
    <tr>
        <td width="65%" valign="top" class="pr">
        <div class="indexBox">
        <div class="boxTitle">管理员基本信息</div>
            <ul>
                <table width="100%" border="0" cellspacing="0" cellpadding="7" class="tableBasic">
                    <tr>
                        <td width="120">管理员名称</td>
                        <td>管理员状态</td>
                        <td width="100">管理员ip</td>
                        <td>最后登录的时间</td>
                    </tr>
                 {volist name="admin" id="vo" }
                    <tr>
                        <td>{$vo.admin_name}</td>
                        <td>
                           {if $vo.admin_status==1}正常
                           {else}封号
                            {/if}
                        </td>
                        <td>{$vo.admin_ip}</td>
                        <td>{$vo.admin_time|date="Y-m-d H:i:s"}</td>
                    </tr>
                 {/volist}
                </table>
            </ul>
        </div>
        </td>
        <td valign="top" class="pl">
        <div class="indexBox">
        </div>
        </td>
    </tr>
</table>
   <div class="indexBox">
    <div class="boxTitle">服务器信息</div>
    <ul>
     <table width="100%" border="0" cellspacing="0" cellpadding="7" class="tableBasic">
      <tr>
       <td width="120" valign="top">PHP 版本：</td>
       <td valign="top">5.3.29 </td>
       <td width="100" valign="top">MySQL 版本：</td>
       <td valign="top">5.5.40</td>
       <td width="100" valign="top">服务器操作系统：</td>
       <td valign="top">WINNT(127.0.0.1)</td>
      </tr>
      <tr>
       <td valign="top">文件上传限制：</td>
       <td valign="top">2M</td>
       <td valign="top">GD 库支持：</td>
       <td valign="top">是</td>
       <td valign="top">Web 服务器：</td>
       <td valign="top">Apache/2.4.10 (Win32) OpenSSL/0.9.8zb mod_fcgid/2.3.9</td>
      </tr>
     </table>
    </ul>
   </div>
   <div class="indexBox">
    <div class="boxTitle">系统开发</div>
    <ul>
     <table width="100%" border="0" cellspacing="0" cellpadding="7" class="tableBasic">
      <tr>
       <td width="120"> DouPHP官网： </td>
       <td><a href="http://www.douco.com" target="_blank">http://www.douco.com</a></td>
      </tr>
      <tr>
       <td> 开发者社区： </td>
       <td><a href="http://bbs.douco.cn" target="_blank">http://bbs.douco.cn </a><em>（安装使用 模板交流 BUG反馈 意见建议）</em></td>
      </tr>
      <tr>
       <td> 贡献者： </td>
       <td>Wooyun.org, Pany, Tea</td>
      </tr>
      <tr>
       <td> 系统使用协议： </td>
       <td><a href="http://www.douco.com/license.html" target="_blank">http://www.douco.com/license.html</a><em>（您可以免费使用DouPHP（不限商用），但必须保留相关版权信息。）</em></td>
      </tr>
     </table>
    </ul>
   </div>
 {/block}

 {block name="footer"}
  </div>
 </div>
 <div class="clear"></div>
 <div id="dcFooter">
  <div id="footer">
   <div class="line"></div>
   <ul>
    版权所有 © 2013-2015 漳州豆壳网络科技有限公司，并保留所有权利。
   </ul>
  </div>
 </div><!-- dcFooter 结束 -->
 <div class="clear"></div> </div>
   {/block}
</body>
</html>