<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="dcLeft">
<div id="menu">
    <ul class="top">
        <li><a href="{:url('Index/index')}"><i class="home"></i><em>管理首页</em></a></li>
    </ul>
    {foreach $left as $key=>$val}
    <ul>
        <p hidden>{$url=$val.power_controller."/".$val.power_action}</p>
        <li><a href="{:url($val.power_controller.'/'.$val.power_action)}"><i class="show"></i><em>{$val.power_name}</em></a></li>
        {if !empty($val["son"])}
        {foreach $val['son'] as $k=>$vo}
        <li><a href="{:url($vo.power_controller.'/'.$vo.power_action)}"><i class="page"></i><em>{$vo.power_name}</em></a></li>
        {/foreach}
        {/if}
    </ul>
    {/foreach}
</div>
</div>
</body>
</html>