<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
{extend name="public:public"}
<head>
{block name="head"}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>DouPHP 管理中心 - 类型列表 </title>
<meta name="Copyright" content="Douco Design." />
<link href="/static/admin/index/css/public.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/admin/index/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/index/js/global.js"></script>
<script type="text/javascript" src="/static/admin/index/js/jquery.autotextarea.js"></script>
{/block}
</head>
<body>
{block name="div"}
<div id="dcWrap">
    <div id="dcHead">
{/block}
<!-- dcHead 结束 -->
{block name="main"}
        <div id="dcMain">
            <!-- 当前位置 -->
            <div id="urHere">DouPHP 管理中心<b>></b><strong>类型展示</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
            <h3><a href="{:url('Type/add_type')}" class="actionBtn add">类型添加</a>类型展示</h3>
            <div id="list">
                <form name="action" method="post">
                    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                        <tr>
                            <td align="center">商品类型名称</td>
                            <td align="center">属性分组</td>
                            <td align="center">属性数</td>
                            <td align="center">操作</td>
                        </tr>
                        {foreach $type as $key=>$vo}
                        <tr>
                            <td align="center">{$vo.type_name}</td>
                            <td align="center">{$vo.type_group}</td>
                            <td align="center">{$vo.attr_num}</td>
                            <td align="center">
                                <a href="{:url('Attr/show_attr')}">属性列表</a> |
                                <a href="">编辑</a> |
                                <a href="javascript:void(0);" name="prand_id"  class="brand_del">删除</a>
                            </td>
                        </tr>
                        {/foreach}
                    </table>
                </form>
            </div>
{/block}

{block name="footer"}
            <div class="clear"></div>
            <div class="pager">总计 10 个记录，共 1 页，当前第 1 页 | <a href="article.php?page=1">第一页</a> 上一页 下一页 <a href="article.php?page=1">最末页</a></div>           </div>
        </div>
        <div class="clear"></div>
        <div id="dcFooter">
            <div id="footer">
                <div class="line"></div>
                <ul>
                    版权所有 © 2013-2015 漳州豆壳网络科技有限公司，并保留所有权利。
                </ul>
            </div>
        </div><!-- dcFooter 结束 -->
        <div class="clear"></div> </div>
</div>
</div>
{/block}
</body>
</html>